In [1]:
# locate rows of duplicate data
from pandas import read_csv

In [2]:
# load the data set
df = read_csv('iris.csv', header = None)
df

                0            1             2            3          4
0    sepal_length  sepal_width  petal_length  petal_width    species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[151 rows x 5 columns]

In [3]:
# calculate duplicates
dups = df.duplicated()

In [4]:
# report if there are any duplicataes
print(dups.any())

True

In [5]:
# list all duplicate rows
print(df[dups])

       0    1    2    3          4
143  5.8  2.7  5.1  1.9  virginica